dev{
    display: flex;
    flex-direction: row;
}
p{
    background-color: rgb(169, 0, 124);
    animation: le infinite 2s;
   

}
@keyframes le{
    0%{
    transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
}